mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.spacer {
  flex: 1 1 auto;
}

.mat-title-small {
  margin-right: 20px;
}

.container {
  padding: 20px;
}

:host {
  --mdc-elevated-card-container-color: #fff;
}

.is-active {
  border: 1px solid var(--mdc-protected-button-label-text-color);
}
