<mat-toolbar>
  <span class="mat-title-small">Angular Signal Examples</span>
  <a
    mat-raised-button
    routerLink="/primitive-types"
    routerLinkActive="is-active"
  >
    Premitive Types
  </a>
  <a mat-raised-button routerLink="/object-type" routerLinkActive="is-active">
    Object Type
  </a>
  <a mat-raised-button routerLink="/with-input" routerLinkActive="is-active">
    Input
  </a>  
  <a mat-raised-button routerLink="/with-model" routerLinkActive="is-active">
    Model
  </a>
  <span class="spacer"></span>
  <app-github-link />
</mat-toolbar>
<div class="container">
  <router-outlet />
</div>
