<mat-card>
  <mat-card-header>
    <mat-card-title>Object Type</mat-card-title>
    <app-github-link path="tree/main/src/app/object-type" />
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="mat-title-medium">Signal :</p>
    <pre>{{ author() | json }}</pre>

    <p class="mat-title-medium">Computed :</p>
    <pre>{{ message() | json }}</pre>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addBook()">
        Add Book
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
